$icon_cabinet_menu: '/img/icon/cabinet_menu/';


.sidebar {
    color: #cdd1d4;

    .menu-level1 {
        width: 80px;
        font-size: 12px;
        position: relative;
        z-index: 21;
        background-color: #364053;

        > .item {
            min-height: 80px;
            margin-top: 5px;
            width: 100%;
            display: block;
            color: inherit;
            padding: 6px;
            box-sizing: border-box;
            cursor:pointer;
            text-decoration: none;

            > .icon {
                width: 50px;
                height: 50px;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-size: cover;

                + .title {
                    margin-top: 5px;
                }

                &.desktop {
                    background-image: url($icon_cabinet_menu + 'desktop_white.png');

                    &:hover {
                        background-image: url($icon_cabinet_menu + 'desktop_blue.png');
                    }
                }

                &.timemanagement {
                    background-image: url($icon_cabinet_menu + 'timemanagement_white.png');

                    &:hover {
                        background-image: url($icon_cabinet_menu + 'timemanagement_blue.png');
                    }
                }
            }

            .title {
                font-size: 12px;
                line-height: 14px;
                text-align: center;
            }
        }
    }

    .menu-level2 {
        width: 180px;
        background-color: #2e3646;
        padding-top: 20px;

        > .title,
        > .item {
            width: calc(100% - 20px);
            margin: auto;
        }

        > .title {
            display: flex;
            justify-content: space-around;

            margin-bottom: 10px;

            > .close {
                font-size: 20px;
                cursor: pointer;
                color: white;
                opacity: 1;

                &:hover {
                    color: #0989d2;
                }
            }
        }

        > .item {
            padding: 5px 10px;
            background-color: #20252f;
            text-align: center;
            display: block;
            text-decoration: none;
            color: inherit;

            &:hover {
                background-color: #010404;
            }

            + .item {
                margin-top: 2px;
            }
        }
    }
}

