.taskboard-container {

    .taskboard {
        display: flex;
        align-items: flex-start;

        .column {
            padding: 10px;
            width: 250px;
            background-color: #7a9ff1;
            border-radius: 4px;

            + .column {
                margin-left: 10px;
            }

            .title {
                font-size: 22px;
                line-height: 30px;
                margin-bottom: 20px;
                color: white;
                font-weight: bold;
            }

            .item {
                border-radius: 4px;
                padding: 8px;
                background-color: white;

                + .item {
                    margin-top: 5px;
                }

                &:hover {
                    background-color: #d4dae0;
                    cursor: pointer;
                }
            }

            .addItem {
                margin-top: 15px;
                padding: 0 5px;
                color: #dcf4fd;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    #addTaskModal,
    #editTaskModal {
        .window-body {
            .title {
                INPUT {
                    width: 100%;
                }
            }

            .description {
                textarea {
                    width: 100%;
                    height: 100px;
                }
            }
        }
    }

    #addTaskModal {
        .period {
            display: none;
        }
    }
}