.cabinet {
    $cabinetWidthMin: 1120px;

    > .sidebar {
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
    }

    > .right-container {
        position: absolute;
        top: 0;
        left: 80px;
        width: calc(100% - 80px);
        min-width: $cabinetWidthMin;
        min-height: 100%;
        background-color: #F5F5F5;

        > .header,
        > .title{
            border-bottom: 2px solid #e4e4e4;
            line-height: 30px;
        }

        > .header {
            > DIV {
                display: flex;
                justify-content: space-between;

                padding: 5px 20px;
                font-size: 16px;
                width: $cabinetWidthMin;
            }
        }

        > .title {
            padding: 15px 20px;
            font-size: 24px;
        }

        > .content {
            padding: 20px;
        }
    }
}