.modal-overlay {
	display: none;
	position: fixed;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(255, 255, 255, 0.6);
  	text-align: center;
	z-index: 40;

	&:after {
		display: inline-block;
		height: 100%;
		width: 0;
		vertical-align: middle;
		content: '';
	}
	
  	.modal-window {
  		z-index: 41;
  		display: inline-block;
		position: relative;
		background: #fff;
		text-align: left;
		vertical-align: middle;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);

		color: #5B5B5B;
		font-size: 18px;
		line-height: 20px;
        width: 625px;

		.window-header {
			height: 100px;
			line-height: 100px;
			font-size: 25px;
			padding-left: 20px;
			padding-right: 20px;			
		}

		.window-header,
		.window-main {
			&.border-blue {
				border-left: 10px solid #00a0e3;
			}

			&.border-green {
				border-left: 10px solid #559734;
			}

			&.border-red {
				border-left: 10px solid #e31e24;
			}

			&.border-orange {
				border-left: 10px solid #FEC000;
			}
		}

		.window-body {
  			margin: 20px;
            font-size: 18px;
		}

		.window-close {
			background: transparent;
			color: #A5A5A5;;
			font-size: 32px;
		  	border: 0;
		  	float: right;
		  	width: 45px;
		  	height: 45px;
		  	line-height: 45px;

		  	&:hover,
			&:focus {
			  	opacity: 0.6;
			}
		}

        .window-footer {
            display: flex;
            justify-content: flex-start;
            margin-top: 35px;

            DIV,
            BUTTON {
                ~ {
                    DIV,
                    BUTTON {
                        margin-left: 15px;
                    }
                }
            }
        }
  	}
}